html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	/* font: 56 arial, sans-serif; */
}

html {
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table, tr, td {
	border: 1px solid white;
}

div {
	padding-left: 15px;
	padding-right: 15px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

td {
	/* text-align: justify; */
	padding: 5px;
}

a {
	text-decoration: none;
	color: #175B9E;
}

.property {
	text-align: left;
	background-color: #FCFCFC;
	border: 1px solid red;
}

.base_models {
	font-size: 18px;
}

/* Table Header Styles */
.head {
	font-weight: bold;
	font-size: 18px;
}

.head td {
	text-align: center !important;
}

.label {
	font-weight: bold;
}

/* Table Column Widths */
.kits td {
	width: 5%;
}


/* package name styles */
.package_name {
	text-align: left !important;	
}

.has {
	background-color: #9CF9A7;
}

.missing {
	background-color: #F7BCA0;
}

tr.cost td:not(:first-child) {
	color: #666679;
	font-weight: bold;
}

.model_a {
	background-color: #989FFA !important;
}

.model_b {
	background-color: #98BDFA !important;
}

.pick_me {
	background-color: #F7F19E !important;
}

/* Raspberry Pi Model Table */
table#models td {
	border: 1px solid #EEEEEE;
	background-color: #FCFCFC;
}


/* 

Green: #9CF9A7;
Red: #F7BCA0;
Grey: #666679;
Blue: #175B9E;
Light Grey: #FCFCFC;
Grey Border: #EEEEEE;
Purple: #989FFA;
light blue-purple: #98BDFA;
yellow: #F7F19E;
*/